###Inicio

In [ ]:
x = "Ola"
print(x)

[1] "Ola"

In [ ]:
nome = readline("Qual e seu nome? ")
print(nome)

Qual e seu nome? viini
[1] "viini"

In [ ]:
caract = 15
class(caract) 
#retorna os tipos das variaveis

[1] "numeric"

In [ ]:
# Estatistica basica
round() # Arredonda
sum() # soma
mean() # Media
var() # Variancia
median() # Mediana
quantile() # Quartis
sd() # Desvio padrao

In [ ]:
# Criando amostras
amostra = sample(1:50, 5, replace = TRUE)
amostra

[1] 16  7 50 50 29

In [ ]:
summary(amostra) # Fazendo analise descritiva

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
    7.0    16.0    29.0    30.4    50.0    50.0

####Vetor

In [ ]:
vec = 3
is.vector(vector)
#Retorna true para o vetor

[1] TRUE

In [ ]:
vec = readline("Informe numeros")
print(vec)
#Inserir em vetor

Informe numeros6
[1] "6"

###Matriz

In [ ]:
mat = matrix(c(2, 4, 5, 6), ncol = 2, nrow = 2, byrow = TRUE)
print(mat)

     [,1] [,2]
[1,]    2    4
[2,]    5    6

###Data Frame

In [ ]:
df = data.frame(nome = c("Ana", "Maria", "Vinicio"), 
                idade = c(24L, 14L, 20L),
                Salario = c(1200, 300, 100))

In [ ]:
print(df)

     nome idade Salario
1     Ana    24    1200
2   Maria    14     300
3 Vinicio    20     100

###Condicionais

In [ ]:
x = 3
y = 6
if(y > x) {
  print("O maior e ... ")
  print(y)
} else {
  print("O maior e ... ")
  print(x)
}

[1] "O maior e ... "
[1] 9

In [ ]:
a = 1
b = 3
ifelse(a > b, "A maior que B", "B maior que A")

[1] "B maior que A"

###Funcoes

In [ ]:
#funcoes padraos do R
x = c(1, 8, 6, 9, 3, 5, 7, 4, 50)
mean(x) #media
sd(x) #desvio padrao
#head(iris) #primeira linhas do data frame iris
tail(iris) #ultimas linhas do data frame iris

[1] 10.33333

[1] 15.0831

    Sepal.Length Sepal.Width Petal.Length Petal.Width Species
145 6.7          3.3         5.7          2.5         virginica
146 6.7          3.0         5.2          2.3         virginica
147 6.3          2.5         5.0          1.9         virginica
148 6.5          3.0         5.2          2.0         virginica
149 6.2          3.4         5.4          2.3         virginica
150 5.9          3.0         5.1          1.8         virginica

In [ ]:
quadrado = function(x) {
  return (x * x)
}
quadrado(5)

[1] 25

In [ ]:
maior = function(x, y) {
  ifelse(x > y, return (x), return (y))
}
maior(9, 8)

[1] 9

In [ ]:
menor = function(x, y) {
  ifelse(x > y, return (y), return (x))
}
menor(2, 8)

[1] 2

In [ ]:
par = function(x) {
  ifelse(x %% 2 == 0, return (TRUE), return (FALSE))
}

In [ ]:
par(9)

[1] FALSE

In [ ]:
divisivel = function(x, y) {
  ifelse(x %% y == 0 , return (TRUE), return (FALSE))
}

In [ ]:
divisivel(4L, 2L)

[1] TRUE

###Instalando Pacotes

In [ ]:
#intala a biblioteca
install.packages("ggplot2", dependencies = TRUE)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

also installing the dependencies ‘conquer’, ‘classInt’, ‘units’, ‘quantreg’, ‘rgeos’, ‘sf’


Warning message in install.packages("ggplot2", dependencies = TRUE):
“installation of package ‘units’ had non-zero exit status”
Warning message in install.packages("ggplot2", dependencies = TRUE):
“installation of package ‘rgeos’ had non-zero exit status”
Warning message in install.packages("ggplot2", dependencies = TRUE):
“installation of package ‘sf’ had non-zero exit status”

In [ ]:
#Carregado o pacote
library(ggplot2)

### Continua ...

In [ ]:
#instalando pacotes
install.packages("shiny")
install.packages("sets")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [ ]:
par.impar = function() {
    for(i in seq(1:20)){
        if((i %% 2) == 0) {
            print(i)
        } else 
            print(' ')
    }
}

In [ ]:
par.impar()

[1] " "
[1] 2
[1] " "
[1] 4
[1] " "
[1] 6
[1] " "
[1] 8
[1] " "
[1] 10
[1] " "
[1] 12
[1] " "
[1] 14
[1] " "
[1] 16
[1] " "
[1] 18
[1] " "
[1] 20

In [ ]:
?plot